.perant{
    display: flex;
    flex-direction:row;
    background-color: aqua;
    /* background-color: rgb(239, 136, 0); */
    
}


.a{
    background-color: rgb(252, 252, 253);
    height: 30px; 
    width: 100%;
}
.b{
    /* background-color: rgb(76, 159, 231); */

    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    background-color: aliceblue; 
    text-align: center;
}
.d{
    background-color: rgb(76, 162, 236);
    height: 80px;
}
.e{
    border: solid 2px rgb(173, 208, 235); width: 150px; 
     color: rgb(7, 9, 146);
}
  
.t{
    display: flex;
    justify-content: center;
    align-items: center;
}